/* no HMR if included statically in template html */
/* HMR works if imported, but watch out for production CSS output */

body {
	--main-color: rgb(81, 93, 148);


	background: rgb(248, 248, 248);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0 auto;
	max-width: 1200px;
}