@tailwind base;

@tailwind components;

.btn {
	@apply text-indigo-600 text-xs font-bold uppercase;
}
.btn:hover {
	@apply text-indigo-700 bg-indigo-100;
}

.btn-blue {
	@apply py-2 px-4 rounded bg-blue-800 text-indigo-100 text-xs font-bold uppercase;
}
.btn-blue:hover {
	@apply bg-blue-700 text-white;
}
.btn-blue:disabled {
	@apply bg-gray-400 text-gray-200;
}

@tailwind utilities;

@layer components {
	.ds-full-layout {
		display: grid;
		grid-template-columns: 16rem 1fr;
		grid-template-rows: 5.5rem 1fr;
		grid-template-areas:
			"nav header"
			"nav view";
	}
	.ds-header-phone {
		grid-template-columns: 4rem 1fr 1fr;
	}
	.ds-header-full {
		grid-template-columns: 1fr 1fr;
	}
}